* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background: url("../img/bg-main.png");
  background-position: center;
  background-size: 100%;
  background-repeat: repeat-y;
}

header {
  display: flex;
  align-items: center;
  height: 12vh;
  margin: 0;
  position: absolute;
  z-index: 5;
  width: 100%;
  justify-content: center;
  top: 0;
}
header img {
  width: 80px;
  flex-shrink: 0;
  background-color: transparent;
}

.header {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: center;
}

main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

.height-nav {
  height: 80px;
}

.hide-element {
  display: none;
}

.nav-mid {
  position: fixed;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  width: 80px;
  z-index: 5;
  background-color: #ba9440;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 50%;
  justify-content: space-between;
  border-radius: 2.5rem;
  transition: 0.5s ease;
}
.nav-mid ul {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  list-style-type: none;
}
.nav-mid-element {
  width: 100%;
  height: 80px;
  position: relative;
  background-color: #e2b450;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
  transition: 5s ease;
}
.nav-mid-element ion-icon {
  width: 40%;
  height: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  color: #fff;
}
.nav-mid-element ul {
  border-radius: 2rem;
  width: 300px;
  position: absolute;
  top: 0px;
  left: 100%;
  background-color: #ba9440;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.5s ease;
  height: unset;
}
.nav-mid-element ul a {
  font-size: 20px;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
  width: 100%;
}
.nav-mid-element ul a li {
  flex: 1;
  width: 100%;
  text-align: center;
  padding: 15px 0;
  border-radius: 2rem;
}
.nav-mid-element ul a li:hover {
  background-color: #e2b450;
}
.nav-mid-button {
  width: 100%;
  height: 80px;
  position: relative;
  background-color: #e2b450;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
}
.nav-mid-button:hover {
  cursor: pointer;
}
.nav-mid-button ion-icon {
  width: 40%;
  height: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  color: #fff;
}

.height-nav {
  height: 80px;
}

.paneaux {
  position: absolute;
  top: 0;
  z-index: 1;
}
.paneaux img {
  width: 100%;
}
.paneaux-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.paneaux-title h1 {
  font-family: "Copperplate Gothic Std 31 AB";
  color: #fff;
  font-size: 50px;
}
.paneaux-title .paneaux-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  margin-top: 10px;
}
.paneaux-title a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}
.paneaux-title ion-icon {
  color: #fff;
}

.cours-list {
  margin-top: 700px;
  width: 50%;
  color: #fff;
}
.cours-list-element {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 50px;
  background-color: #02123b;
  border-radius: 0.8rem;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.822);
}
.cours-list-element .cours-img {
  margin: 30px;
  width: 40%;
}
.cours-list-element .cours-img img {
  width: 100%;
}
.cours-list-element .cours-text {
  word-wrap: break-word;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 30px;
  flex-direction: column;
}
.cours-list-element .cours-text .cours-text-small-element {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 10px 0;
}
.cours-list-element .cours-text .cours-text-small-element li {
  margin-right: 70px;
  color: #c4c4c4;
  display: flex;
  align-items: center;
}
.cours-list-element .cours-text .cours-text-small-element li span {
  margin-left: 10px;
}
.cours-list-element .cours-text h1 {
  font-size: 27px;
  font-weight: 500;
}
.cours-list-element .cours-text-name-teacher span {
  color: #3782ff;
}

footer {
  height: 25vh;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.377);
  background-color: #071336;
  width: 100%;
  position: relative;
}

footer p {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "friz_quadrataregular";
  font-size: 20px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #000935;
}

::-webkit-scrollbar-thumb {
  background: #b2c0ff;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #61a0ff;
}

/*# sourceMappingURL=style-course.css.map */
