@import "variable.scss";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  background-color: #010d2b;
  background: url("../img/bg-main.png");
}
header {
  display: flex;
  align-items: center;
  height: 12vh;
  margin: 0;
  position: absolute;
  z-index: 5;
  transition: 0.5s ease;
  width: 100%;
  justify-content: center;
  top: 0;
  img {
    width: 80px;
    flex-shrink: 0;
    background-color: transparent;
  }
}
.header {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: center;
}
main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}
.height-nav {
  height: 80px;
}
.hide-element {
  display: none;
}
.nav-mid {
  position: fixed;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  width: 80px;
  z-index: 5;
  background-color: $goldFirstColor;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 50%;
  justify-content: space-between;
  border-radius: 2.5rem;
  transition: 0.5s ease;
  ul {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    list-style-type: none;
  }
  &-element {
    width: 100%;
    height: 80px;
    position: relative;
    background-color: $goldSecondColor;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    transition: 5s ease;

    ion-icon {
      width: 40%;
      height: 40%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
      color: #fff;
    }
    ul {
      border-radius: 2rem;
      width: 300px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 100%;
      background-color: $goldFirstColor;
      display: none;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      transition: 0.5s ease;
      height: unset;
      a {
        font-size: 20px;
        font-weight: normal;
        text-decoration: none;
        color: #fff;
        width: 100%;
        li {
          flex: 1;
          width: 100%;
          text-align: center;
          padding: 20px 0;
          border-radius: 2rem;
          &:hover {
            background-color: $goldSecondColor;
          }
        }
      }
    }
  }
  &-button {
    width: 100%;
    height: 80px;
    position: relative;
    background-color: $goldSecondColor;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    &:hover {
      cursor: pointer;
    }
    ion-icon {
      width: 40%;
      height: 40%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
      color: #fff;
    }
  }
}
.height-nav {
  height: 80px;
}
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.Myvideo {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #000c30a9;
  height: 1090px;
}
.home {
  position: relative;
  z-index: 4;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  height: 100vh;
  button {
    background-color: #ff3146;
    border: none;
    margin-left: 20px;
    width: 250px;
    height: 60px;
    border-radius: 0.7rem;
    margin-top: 30px;
    color: #fff;
    font-family: "friz_quadrataregular";
    font-size: 20px;
    transition: 0.5s ease;
    cursor: pointer;
    &:hover {
      border: 2px solid #fff;
      background-image: none;
      background-color: transparent;
      color: #c7f1ff;
      transition: 0.5s ease;
    }
  }
}
.text {
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  h1 {
    font-family: "Copperplate Gothic Std 31 AB";
    font-size: 55px;
    margin-left: 20px;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(120deg, #c7f1ff, #06bcff);
  }
  img {
    width: 500px;
  }
}

.description {
  margin-top: 100px;
  width: 100%;
  height: 100vh;
  position: relative;
  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    font-family: "Copperplate Gothic Std 31 AB";
    color: #fff;
    font-size: 60px;
  }
}

.materiel {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  &-img {
    width: 50%;
    img {
      width: 100%;
    }
  }
  &-description {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 25%;
    text-align: right;
    color: $thirdColor;
    margin-right: 100px;
    &-title {
      font-size: 25px;
      font-family: "Copperplate Gothic Std 31 AB";
    }
    &-line {
      height: 2px;
      width: 50%;
      background-color: $thirdColor;
      margin: 20px 0;
      box-shadow: 0 0 7px #fff;
    }
    button {
      background-color: #ff3146;
      border: none;
      width: 250px;
      height: 60px;
      border-radius: 0.7rem;
      margin-top: 30px;
      color: #fff;
      font-family: "friz_quadrataregular";
      font-size: 20px;
      cursor: pointer;
    }
  }
}
.poursuite {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  &-img {
    flex-shrink: 1;
    img {
      width: 100%;
    }
  }
  &-description {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 25%;
    text-align: left;
    color: $thirdColor;
    margin-right: 250px;
    &-title {
      font-size: 25px;
      font-family: "Copperplate Gothic Std 31 AB";
    }
    &-line {
      height: 2px;
      width: 50%;
      background-color: $thirdColor;
      margin: 20px 0;
      box-shadow: 0 0 7px #fff;
    }
    button {
      background-color: #ff3146;
      border: none;
      width: 250px;
      height: 60px;
      border-radius: 0.7rem;
      margin-top: 30px;
      color: #fff;
      font-family: "friz_quadrataregular";
      font-size: 20px;
      cursor: pointer;
    }
  }
}

.vie-campus {
  display: flex;
  align-items: center;
  width: 100%;
  &-img {
    flex-shrink: 1;
    img {
      width: 100%;
    }
  }
  &-description {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 25%;
    text-align: right;
    color: $thirdColor;
    margin-left: 250px;
    &-title {
      font-size: 25px;
      font-family: "Copperplate Gothic Std 31 AB";
    }
    &-line {
      height: 2px;
      width: 50%;
      background-color: $thirdColor;
      margin: 20px 0;
      box-shadow: 0 0 7px #fff;
    }
    button {
      background-color: #ff3146;
      border: none;
      width: 250px;
      height: 60px;
      border-radius: 0.7rem;
      margin-top: 30px;
      color: #fff;
      font-family: "friz_quadrataregular";
      font-size: 20px;
      cursor: pointer;
    }
  }
}

.professeur {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  width: 100%;
  margin-bottom: 100px;
  &-title {
    z-index: 4;
    font-family: "Copperplate Gothic Std 31 AB";
    color: #fff;
    margin-bottom: 100px;
    font-size: 30px;
  }
  &-list {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: -100px;
    &-element {
      width: 20%;
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 450px;
      justify-content: space-between;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.986);
      background-color: rgb(0, 5, 53);
      border-radius: 1rem;
      transition: 0.5s ease;
      margin-left: 100px;
      margin-bottom: 100px;
      button {
        background-color: #ff3146;
        width: 50%;
        height: 40px;
        border: none;
        border-radius: 0.2rem;
        color: #fff;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 15px;
        margin: 30px 0 10px 0;
      }
      p {
        color: #fff;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
      }
      .element-main {
        display: flex;
        align-items: center;
        flex-direction: column;
      }
      .element-img {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        background-color: #0000003b;
        height: 250px;
        margin-top: 50px;
      }
      .element-img img {
        width: 100%;
      }
      .name-team {
        display: none;
        align-items: center;
        flex-direction: column;
        color: #a184ff;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        margin-bottom: 30px;
        transition: 0.5s ease;
      }
    }
  }
}
.hide1 {
  height: 550px;
  transition: 0.5s ease;
}
.hide2 {
  display: flex;
  transition: 0.5s ease;
}
.skin {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/skin-bg.png);
}
.skin-grid {
  display: grid;
  grid-template-areas:
    "h1 h2 h3 h3"
    "h4 h4 h5 h6";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  width: 70%;
  margin: 100px 0;
}
#leesin {
  grid-area: h1;
}
#jax {
  grid-area: h2;
}
#ezreal {
  grid-area: h3;
}
#star-guardian {
  grid-area: h4;
}
#ashe {
  grid-area: h5;
}
#kaisa {
  grid-area: h6;
}
.skin img {
  width: 100%;
}
.counting {
  margin: 150px 0;
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
}
.counting-element {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 20%;
}
.counting-element h1 {
  color: #ff3146;
  font-size: 100px;
  font-weight: bold;
}
.counting-element p {
  color: #fff;
  font-size: 25px;
  text-align: center;
}

.review {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  margin-bottom: 100px;
}
.review-title {
  margin: 50px 0;
  color: #fff;
}
.review-title h2 {
  font-family: "Copperplate Gothic Std 31 AB";
  font-size: 2rem;
}
.review-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
}
.review-list-element {
  width: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 500px;
  justify-content: space-between;
  background-color: #0b142a;
}
.review-list-element:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.438);
}
.review-list-element-logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin: 50px 0 0 0;
}
.review-list-element-logo img {
  transform: scale(0.8);
}
.review-list-element-desp {
  flex: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  width: 80%;
  margin-bottom: 10px;
}
.review-list-element-desp p {
  color: #fff;
  word-break: break-all;
  text-align: center;
  margin-bottom: 50px;
}
.review-list-element-desp span {
  color: #3782ff;
  font-weight: bold;
}
.review-list-element-name {
  text-align: center;
}
footer {
  height: 25vh;
  position: relative;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.377);
  background-color: #071336;
}
footer p {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "friz_quadrataregular";
  font-size: 20px;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #000935;
}

::-webkit-scrollbar-thumb {
  background: rgb(178, 192, 255);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(97, 160, 255);
}
@media screen and (max-width: 1023px) {
  .bg-video {
    display: none;
  }
  .overlay {
    display: none;
  }
  .text {
    width: 70%;
    h1 {
      font-size: 3rem;
    }
    img {
      width: 100%;
    }
  }
  .description {
    h1 {
      font-size: 2rem;
      margin: 0;
    }
  }
  .materiel,
  .poursuite,
  .vie-campus {
    flex-direction: column;
    margin-bottom: 150px;
    &-img {
      width: 100%;
    }
    &-description {
      width: 80%;
      margin: 30px 0 0 0;
      align-items: center;
      text-align: center;
    }
  }
  .poursuite {
    &-img {
      order: 1;
    }
    &-description {
      order: 2;
    }
  }
  .professeur {
    flex-direction: column;
    &-list {
      width: 90%;
      &-element {
        width: 80%;
      }
    }
  }
  .skin-grid {
    width: 90%;
  }
  .counting {
    flex-direction: column;
  }
  .review-list {
    flex-direction: column;
    &-element {
      width: 80%;
      margin-bottom: 100px;
    }
  }
}
