@import "variable.scss";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  background: url("../img/bg-main.png");
  background-position: center;
  background-size: 100%;
  background-repeat: repeat-y;
  background-attachment: fixed;
}
header {
  display: flex;
  align-items: center;
  height: 12vh;
  margin: 0;
  position: absolute;
  z-index: 5;
  width: 100%;
  justify-content: center;
  top: 0;
  img {
    width: 80px;
    flex-shrink: 0;
    background-color: transparent;
  }
}
.header {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: center;
}

.height-nav {
  height: 80px;
}
.hide-element {
  display: none;
}
.nav-mid {
  position: fixed;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  width: 80px;
  z-index: 5;
  background-color: $goldFirstColor;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 50%;
  justify-content: space-between;
  border-radius: 2.5rem;
  transition: 0.5s ease;
  ul {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    list-style-type: none;
  }
  &-element {
    width: 100%;
    height: 80px;
    position: relative;
    background-color: $goldSecondColor;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    transition: 5s ease;

    ion-icon {
      width: 40%;
      height: 40%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
      color: #fff;
    }
    &-drop {
      border-radius: 2rem;
      width: 300px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 100%;
      background-color: $goldFirstColor;
      display: none;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      transition: 0.5s ease;
      height: unset;
      padding: 20px 0;
      a {
        font-size: 20px;
        font-weight: normal;
        text-decoration: none;
        color: #fff;
        width: 100%;
        text-align: center;
      }
    }
  }
  &-button {
    width: 100%;
    height: 80px;
    position: relative;
    background-color: $goldSecondColor;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    &:hover {
      cursor: pointer;
    }
    ion-icon {
      width: 40%;
      height: 40%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
      color: #fff;
    }
  }
}
.height-nav {
  height: 80px;
}
.paneaux {
  position: absolute;
  top: 0;
  z-index: 1;
  background: url("../img/banner.png");
  width: 100%;
  height: 50vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  &-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    h1 {
      font-family: "Copperplate Gothic Std 31 AB";
      color: $thirdColor;
      font-size: 3rem;
    }
    .paneaux-nav {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 70%;
      margin-top: 10px;
    }
    a {
      color: $thirdColor;
      text-decoration: none;
      font-weight: 500;
      font-size: 1rem;
    }
    ion-icon {
      color: $thirdColor;
    }
  }
}
main {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  font-family: "Poppins", sans-serif;
  margin-top: 700px;
}
.filter {
  width: 20%;
  background-color: #02123b;
  border-radius: 0.8rem;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.822);
  margin-left: 150px;
  position: relative;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
  .lane {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 70%;
    margin: 50px 0;
    h3 {
      font-size: 30px;
      margin-bottom: 10px;
    }
    label {
      margin-bottom: 15px;
      width: 80%;
      position: relative;
      input {
        position: absolute;
        right: 0;
      }
    }
  }
}
.hide-label {
  display: flex;
}
.cours-list {
  width: 60%;
  color: #fff;
  &-element {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;
    background-color: #02123b;
    border-radius: 0.8rem;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.822);
    .cours-img {
      margin: 30px;
      width: 30%;
      img {
        width: 100%;
      }
    }
    .cours-text {
      word-wrap: break-word;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin: 30px;
      flex-direction: column;
      .cours-text-small-element {
        display: flex;

        list-style-type: none;
        margin: 10px 0;
        li {
          margin-right: 70px;
          color: rgb(196, 196, 196);
          display: flex;
          align-items: center;
          span {
            margin-left: 10px;
          }
        }
      }
      h1 {
        font-size: 27px;
        font-weight: 500;
      }
      &-name-teacher {
        display: flex;
        align-items: center;
        img {
          width: 20%;
        }
        span {
          margin-left: 20px;
          color: $fourthColor;
        }
      }
    }
  }
}
footer {
  height: 25vh;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.377);
  background-color: #071336;
  width: 100%;
  position: relative;
}
footer p {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "friz_quadrataregular";
  font-size: 20px;
  text-align: center;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #000935;
}

::-webkit-scrollbar-thumb {
  background: rgb(178, 192, 255);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(97, 160, 255);
}
@media screen and (max-width: 1023px) {
  header {
    display: none;
  }
  .paneaux {
    height: 25vh;
  }
  main {
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
    .filter {
      width: 60%;
      margin-left: 0;
    }
    .cours-list {
      width: 80%;
      &-element {
        flex-direction: column;
        align-items: center;
      }
      .cours-img {
        flex-shrink: 0;
        width: 80%;
      }
      .cours-text {
        width: 80%;
        align-items: center;
        &-description {
          width: 100%;
          text-align: center;
          p {
            margin-bottom: 20px;
          }
          ul {
            align-items: center;
            li {
              margin-right: 0 !important;
            }
          }
        }
        &-small-element {
          flex-direction: column;
          align-items: center;
        }
        .cours-text-name-teacher {
          justify-content: space-between;
          width: 90%;
        }
      }
    }
  }
}
